

h2
{
      text-align: center;
}

p{
      font-size: 12px;
}

img {
      width: 100px;
}

.identification {
      text-align: center;
      background-color: #75badf;
      width: 242.64px;
      padding: 25px;
}
