body, html {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      height: 100%;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
}

.container {
      text-align: center;
}

h2 {
      font-size: 20px;
      text-align: center;
      font-weight: 600;
      margin-bottom: 10px;
}

p {
      font-size: 15px;
}

.identification {
      text-align: center;
      background-color: #75badf;
      width: 242.64px;
      padding: 25px;
}

.logo {
      width: 70px;
      height: auto;
      margin-bottom: 10px;
}

.profile {
      width: 180px;
      height: 180px;
      margin: 10px 0;
}
